@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    /**was changed from 'overflow: hidden' to 'overflow-x: hidden', it only hides the scroll bar on the x-axis(scroll bar from left to right), we want to be able to scroll up and down*/
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    /**when using transform origin the origin by default will be in the middle, however we want the container to rotate from the top left position*/
    transition: transform 0.5s linear;
    /*We want the rotation to be smooth instead of a flick so we add a transition for thee  transform property.*/
    width: 100vw;
    /*takes up the whole viewport horizontally*/
    min-height: 100vh;
    /*whole viewport*/
    padding: 50px;
    /*50px all the way around thee viewport*/
}

.container.show-nav {
    transform: rotate(-20deg);
    /*when the container has the class of 'show-nav' the container will rotate using the 'transform' property and 'rotate()'*/
}

.circle-container {
    /*container around the circle and navigation icons/buttons contained within the circle*/
    position: fixed;
    /**'circle-container' will stay fixed to the top left of the page no matter what*/
    top: -100px;
    /*want it to be a half circle at the edge of the page therefore set to -100px*/
    left: -100px;
    /*same as above*/
}

.circle {
    /*wraps around the navigation icons/buttons*/
    background-color: #ff7979;
    height: 200px;
    /**because we want a half circle(full circle but half isn't visible) we used 100px in the 'circle-container' as it is half of 200px*/
    width: 200px;
    border-radius: 50%;
    position: relative;
    /*buttons within will be absolute*/
    transition: transform 0.5s linear;
    /*will rotate so that the visible icon/button changes*/
}

.container.show-nav .circle {
    /*when the container has 'show-nav' applied to it, then we want to style the circle.*/
    transform: rotate(-70deg);
    /*rotates the circle so that the close button is visible*/
}

.circle button {
    /*navigation icons/buttons*/
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    /*removes border*/
    font-size: 26px;
    color: #fff;
}

.circle button:focus {
    outline: none;
    /*removes border when in focus state(when hovering over button)*/
}

.circle button#open {
    /*one icon/button has an id of open*/
    left: 60%;
    /*this button/icon will be seen initially so this is where it will be positioned*/
}

.circle button#close {
    /*one icon/button has an id of close*/
    top: 60%;
    /*60% relative to the circle*/
    transform: rotate(90deg);
    /*we want to rotate this close button therefore use transform*/
    transform-origin: top left;
}

.container.show-nav + nav li {
    /*when we have the 'show-nav' applied to the container we want the nav list items to be visible so we style the container with the 'show-nav' tag and the direct nav list items after that*/
    transform: translateX(0);
    /**Setting translateX to 0 will bring all the list items back to their original place*/
    transition-delay: 0.3s;
    /*Creates a  transition delay so that it comes in a little bit after the rotation*/
}

/*temporarily added 'show-nav' tag to the 'container' tag prior to coding buttons so we could test the styles of the navigation items*/
nav {
    position: fixed;
    /*fixes position to the bottom left*/
    bottom: 40px;
    /*from the bottom 40px up*/
    left: 0;
    z-index: 100;
    /*?high z-index so that it's on top*/
}

nav ul {
    /*nav unordered list*/
    list-style-type: none;
    /*gets rid of bullet points*/
    padding-left: 30px;
}

nav ul li {
    /*style the list items*/
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    /*40px on the top and bottom to separate the list items*/
    transform: translateX(-100%);
    /*we need the list items to start off more to the left of the page so that they come in to be visible when they rotate*/
    /**to do this we need to use 'transform' and translate on the 'x-axis', and to move them left the value would need to be negative*/
    transition: transform 0.4s ease-in;
    /*allows the 'transform' property to transition more smoothly*/
}

nav ul li i {
    /*navigation items icons*/
    font-size: 20px;
    /*made icons a little bigger*/
    margin-right: 10px;
    /*put some space between the icons and the texts*/
}

nav ul li + li {
    /**because we want each of the nav items to stick out in an angle similar to the angle of the page when rotated, we style the  direct list items after the 1st item, so that the direct list items will stick out by 15px*/
    margin-left: 15px;
    transform: translateX(-150%);
    /*we want the 2nd list item to start out more to the left because it still sticks out despite the 'transform: translateX(-100);' code for styling all list items*/
}

nav ul li + li + li {
    /**for the last list item to stick out even more we style the last list item so that it sticks out by 30px*/
    margin-left: 30px;
    transform: translateX(-200%);
    /*we want the 3rd list item to start out more to the left because it still sticks out despite the 'transform: translateX(-100);' code for styling all list items*/
}

.content img {
    /*my dog image*/
    max-width: 100%;
}

.content {
    /*contains article name, author name, 1st paragraph, heading, image, 2nd paragraph*/
    max-width: 1000px;
    margin: 50px auto;
    /*50 pixels on the top and bottom*/
    /*auto on the left and right, keeps it in the middle so even if we adjust the window size the content will have 1000px width max*/
}

.content h1 {
    /*Amazing Article*/
    margin: 0;
    /*removes margin*/
}

.content small {
    /*Florin Pop*/
    color: #555;
    font-style: italic;
}

.content p {
    /*both paragraphs contained within 'content'*/
    color: #333;
    line-height: 1.5;
}